.container {
  display: flex;
  align-items: center;
  background-color: #c8c6c7;
  color: #fff;
  font-size: smaller;
  font-weight: 100;
}

.container p {
  padding: 15px 20px;
  margin: 0px;
  color: #fff;
  font-weight: 300;
}

.links {
  background-color: #c8c6c7;
}

.links ul {

  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  margin: 0px;
}

.links a {
    font-size: medium;
    cursor: pointer;
    text-decoration: none;
    font-weight: 200;
    color: #fff;
}

.links a:hover {
    text-decoration: underline;
}
