.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.container img {
    max-width: 3rem ;
    max-height: 3rem;
    margin-bottom: 5px;
}

.container a {
    text-decoration: none;
}

.container h4 {
    color: #ff5100;
    font-size: large;
    font-weight: bolder;
}


.container p {
    color: #4b5563;
    font-size: larger;
    font-weight: 100;
}

@media (max-width: 450px) {
    .container img {
        max-width: 1.5rem ;
        max-height: 1.5rem;
        margin-bottom: 3px;
    }
    
    .container h4 {
        font-size: small;
    }
    
    
    .container p {
        font-size: small;
    }
}