.boxes {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 5px 0px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 650px) {
    .cards {
        flex-direction: column;
    }
}



